<div class="col-md-6 mx-auto mb-3">
        {{ form_start(form) }}

        {{form_widget(form)}}
        <input formnovalidate type='submit' value="{{form_submit_text}}" class="btn btn-primary btn-block" />

{{ form_end(form) }}
</div>